In [68]:
#  Q.1  Converting an Integer into Decimals ?
# Q.2  Converting an String of Integers into Decimals ?
# Q.3  Reversing a string using an Extended Slicing Technique ? 
# Q.4  Counting the number of occurances of a character in a string ?
# Q.5  Find the maximum and minimum number in a list ?
# Q.6  Find the middle element in a list ? 
# Q.7  Converting a list into a string ?
# Q.8  Adding two list elements together ?

# Q.1  Converting an Integer into Decimals ?

In [5]:
int_value = int(input("Enter the Integer Number"))
dec_value = int_value / 1.0  
print("Converted given integer number into Decimal Number is :->",dec_value)

Enter the Integer Number15
Converted given integer number into Decimal Number is :-> 15.0

# Q.2  Converting an String of Integers into Decimals ?

In [10]:
string_of_int = "12345"
decimal_value = float(string_of_integers)
decimal_value

12345.0

# Q.3  Reversing a string using an Extended Slicing Technique ?

In [16]:
org_str = str(input("Enter the String"))
reversed_string = org_str[::-1]
reversed_string

Enter the StringHello Sir !

'! riS olleH'

# Q.4  Counting the number of occurances of a character in a string ?

In [19]:
string = "hello"
count = string.count("hello")
count

1

In [24]:
string = "hello world"
char_to_count = 'l'
count = 0
for char in string:
    if char == char_to_count:
        count += 1
count

3

# Q.5  Find the maximum and minimum number in a list ?

In [28]:
num = [10,50,43,69,82,15,5,35,20]
maximun_num = max(num)
minimum_num = min(num)
print("Maximum number in a list is:-",maximun_num)
print("Minium number in a list is:-",minimum_num)

Maximum number in a list is:- 82
Minium number in a list is:- 5

# Q.6  Find the middle element in a list ?

In [42]:
input_list = [1,2,3,4,5,6,7]
def findMiddle(input_list):
    middle = float(len(input_list))/2
    if middle % 2 != 0:
        return input_list[int(middle - .5)]
    else:
        return (input_list[int(middle)], input_list[int(middle-1)])
findMiddle(input_list)

4

# Q.7  Converting a list into a string ?

In [56]:
my_list = ['apple', 'banana', 'orange']
result = ' '.join(my_list)
print("Converted a List into a String :-> ",result)

Converted a List into a String :->  apple banana orange

# Q.8  Adding two list elements together ?

In [67]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
result = []
for i in range(len(list1)):
    result.append(list1[i] + list2[i])
print(result)

[5, 7, 9]

In [66]:
import numpy as np
list1 = [1, 2, 3]
list2 = [4, 5, 6]
result = [list1[i] + list2[i] for i in range(len(list1))]
np.hstack((list1,list2))

array([1, 2, 3, 4, 5, 6])